@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #f4fcff;
  --linear-bg-start: rgba(92, 169, 252, 0.4);
  --linear-bg-end: rgba(92, 169, 252, 0.15);
  --conic--up-down: from 0deg at 50% 100%, rgba(57, 99, 243, 0.05) 0deg,
    rgba(60, 105, 244, 0.5) 360deg;
  --conic--up: from 0deg at 50% 50%, rgba(57, 99, 243, 0.05) 0deg,
    rgba(60, 105, 244, 0.5) 360deg;
  --conic--right: from 90deg at 50% 50%, rgba(60, 105, 244, 0.6) 0deg,
    rgba(57, 99, 243, 0.05) 360deg;
  --conic--left-right: from -90deg at 100% 50%, rgba(57, 99, 243, 0.05) 0deg,
    rgba(60, 105, 244, 0.6) 360deg;
  --conic--left: from -90deg at 50% 50%, rgba(57, 99, 243, 0.05) 0deg,
    rgba(60, 105, 244, 0.6) 360deg;
  --conic--down: from 180deg at 50% 50%, rgba(60, 105, 244, 0.5) 0deg,
    rgba(57, 99, 243, 0.05) 360deg;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  position: relative;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  background: url('/card-noise-sample.png') repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .7;
  mix-blend-mode: overlay;
}

.noise-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
}

