@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #F4FCFF;
  --linear-bg-start: rgba(92, 169, 252, 0.4);
  --linear-bg-end: rgba(92, 169, 252, 0.15);
  --conic--up-down: from 0deg at 50% 100%, rgba(57, 99, 243, 0.05) 0deg, rgba(60, 105, 244, 0.40) 360deg;
  --conic--up: from 0deg at 50% 50%, rgba(57, 99, 243, 0.05) 0deg, rgba(60, 105, 244, 0.40) 360deg;
  --conic--right: from 90deg at 50% 50%, rgba(60, 105, 244, 0.50) 0deg, rgba(57, 99, 243, 0.05) 360deg;
  --conic--left-right: from -90deg at 100% 50%, rgba(57, 99, 243, 0.05) 0deg, rgba(60, 105, 244, 0.50) 360deg;
  --conic--left: from -90deg at 50% 50%, rgba(57, 99, 243, 0.05) 0deg, rgba(60, 105, 244, 0.50) 360deg;
  --conic--down: from 180deg at 50% 50%, rgba(60, 105, 244, 0.40) 0deg, rgba(57, 99, 243, 0.05) 360deg;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.noise-bg-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.noise-bg {
  height: 200%;
  pointer-events: none;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  z-index: 5;
  overflow: hidden;
  background: transparent url('/bg-noise.svg') repeat 0 0;
  mix-blend-mode: overlay;
  visibility: visible;
  opacity: 1;
  animation: bg-animation .2s infinite;
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}
